<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />

<title>Índice</title>
</head>
<body>
	<div th:replace="/header :: header"></div>

	<br>

	<br>
	<div class="container">
		<h1>Parece ser que algo hemos hecho mal</h1>
		<h2 th:text="${status + ' ' + error}"></h2>
	</div>



</body>
</html>