<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />

<title>Lista de pedidos</title>
</head>
<body>
	<div th:replace="/header :: header"></div>


	<br />
	<br />
	<br />
	<br />
	<br />
	<br />

	<div class="container">
		<form method="post" th:action="@{/buscar-pedido}" th:object="${pedido}"
			class="form">
			<div class="form-group">
				<label path="estado">Estado</label> <select path="estado"
					class="form-control" required="required"
					th:field="*{estado.idEstado}">
					<option th:each="estado : ${estados}" th:value="${estado.idEstado}"
						th:text="${estado.nombre}"></option>
				</select>
			</div>
			<div class="form-group col-12 justify-content-center my-5">
				<button type="submit" class="btn btn-success">Buscar</button>
			</div>
		</form>
	</div>

	<div class="container">
		<h1>Pedidos</h1>
		<div class="row col-md-7 table-responsive">
			<table id="pedidosTable" class="table">
				<thead>
					<tr>
						<th>Direccion</th>
						<th>Comentario</th>
						<th>Estado</th>
						<th>Precio Final</th>

						<th sec:authorize="hasRole('ROLE_ADMIN')">Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pedido, rowStat: ${listaPedidos}"
						th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
						<td th:text="${pedido.direccion}"></td>
						<td th:text="${pedido.comentario}"></td>
						<td th:text="${pedido.estado.nombre}"></td>
						<td th:text="${pedido.precioFinal}"></td>
						<td><a th:href="'/updatePedido?idPedido='+${pedido.idPedido}"
							class="btn">Editar Pedido</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>