<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">

<title>Administración de Usuarios</title>
</head>
<body>
	<div th:replace="/header :: header"></div>

	<div class="container">
		<div class="row col-md-12 table-responsive">
			<table id="customerTable" class="table">
				<thead>
					<tr class="text-center">
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Email</th>
						<th colspan="2">Privilegios</th>

					</tr>
				</thead>
				<tbody>

					<tr th:each="user, rowStat: ${listaUsuarios}"
						th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
						<td th:text="${user.nombre}"></td>
						<td th:text="${user.apellido}"></td>
						<td th:text="${user.email}"></td>
						<td>
							<form action="#"
								th:action="@{/admin/darPrivilegios/} + ${{user.id}}"
								method="get">
								<button th:id="'table_entry_childs_button_' + ${user.id}"
									type="submit" class="btn-block">Dar Administrador</button>
							</form>
							<form action="#"
								th:action="@{/admin/darPrivilegiosDinamizador/} + ${{user.id}}"
								method="get">
								<button th:id="'table_entry_childs_button_' + ${user.id}"
									type="submit" class="btn-block">Dar Dinamizador</button>
							</form>
							<form action="#"
								th:action="@{/admin/darPrivilegiosEncargado/} + ${{user.id}}"
								method="get">
								<button th:id="'table_entry_childs_button_' + ${user.id}"
									type="submit" class="btn-block">Dar Encargado</button>
							</form>
						</td>
						<td>
							<form action="#"
								th:action="@{/admin/quitarPrivilegios/} + ${{user.id}}"
								method="get">
								<button th:id="'table_entry_childs_button_' + ${user.id}"
									type="submit" class="btn-block">Quitar Administrador</button>
							</form>
							<form action="#"
								th:action="@{/admin/quitarPrivilegiosDinamizador/} + ${{user.id}}"
								method="get">
								<button th:id="'table_entry_childs_button_' + ${user.id}"
									type="submit" class="btn-block">Quitar Dinamizador</button>
							</form>
							<form action="#"
								th:action="@{/admin/quitarPrivilegiosEncargado/} + ${{user.id}}"
								method="get">
								<button th:id="'table_entry_childs_button_' + ${user.id}"
									type="submit" class="btn-block">Quitar Encargado</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>