<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />

<title>IE-Shop</title>
</head>
<body>
	<div th:fragment="carrito">
		<div class="container">
			<div class="row">
				<form action="#" th:action="@{/addOrder}" method="get">
					<div class="table-responsive-sm">
						<table id="orderLineTable" class="table table-hover">
							<thead>
								<tr class="bg-info">
									<th>Nombre</th>
									<th>Cantidad</th>
									<th>Precio</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="linea, rowStat : ${session.orderLines}"
									class="bg-info">
									<td th:text="${linea.producto.nombre}"></td>
									<td th:text="${linea.cantidad}"></td>
									<td th:text="${linea.producto.precio * linea.cantidad}"></td>
								</tr>

							</tbody>
						</table>
					</div>

					<input type="submit" class="form-control btn btn-secondary"
						value="Hacer pedido" />

				</form>

			</div>
		</div>
	</div>
</body>
</html>